<nav>
  <ul>
    <li class="npm current">
      <a href="/">Home</a>
    </li>
    <li class="docs">
      <a href="http://npmjs.org/doc/">API</a>
    </li>
    <li class="blog">
      <a href="http://blog.npmjs.org/">Blog</a>
    </li>
    <li class="logos">
      <a href="http://nodejs.org/">Node.js</a>
    </li>
    <li class="jobs">
      <a href="http://www.npmjs.com/jobs/">Jobs</a>
    </li>
  </ul>

  <ul class="hiring">
    <li class="hiring-group">
      <a href="/whoshiring">See Who's Hiring</a>
    </li>
    <% if (hiring && hiring.name) { %>
      <li class="hiring-company">
        <a href="<%= hiring.url %>">
          <img src="/static/img/hiring/<%= hiring.id %>.png" alt="<%= hiring.name %>"/>
        </a>
      </li>
      <li class="hiring-more">
        <a href="/whoshiring">+ 8 More...</a>
      </li>
    <% } %>
  </ul>
</nav>
